<style>
.main {
  position: relative;
  height: 118vh;
  min-width: 647px;
}
.form-group .logo {
  border-bottom: 1px solid #ddd;
  padding-bottom: 14px;
  margin-bottom: 21px;
}
.form-group .logo img {
  width: 125px;
  height: 41px;
}
.footer{
  padding: 0 32px;
  color: #fff;
  margin: 0 auto;
}
textarea#comment {
  height: 70px;
}
input.form-control,textarea.form-control,select.form-control {
  position: relative;
  bottom: 5px;
  left: 13px;
}
.col-sm-6 input.form-control,.col-sm-6 textarea.form-control{
  width: 50%;
}
label{
  float:left;
}
.form-group,.col-sm-6,.col-sm-3 {
  margin: 14px 0;
}
footer nav.navbar.navbar-expand-sm.bg-secondary.navbar-dark {
  display: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #575252;
  z-index: 100;
  color: #fff;
}
.col-sm-6 input.form-control, .col-sm-6 textarea.form-control {
  width: 50% !important;
}
.table td, .table th{
  padding:0;
}
span.fa.fa-search {
 position: relative;
 top: -46px;
 right: -9px;
 border-left: 1px solid #ccc;
 padding: 10px;
 color: #9e9595;
 float: right;
}
input[type=search]{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: 0;
  padding: 12px 33px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-box-shadow: 3px 3px 2px #ccc;
  box-shadow: 3px 3px 2px #ccc;
}
p{
  border: 1px solid #9e9696;
  text-align: center;
}</style>